body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout{
  width:  85%;
  margin: 0 auto;
}

.header{
  display: flex;
  height: 132px;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid black;
  margin-bottom: 15px;
}

.header .logo{
  flex-grow: 2;
  display: flex;
}

.header .logo span{
  display: block;
  font-size: 90px;
  font-weight: bolder;
  margin-top: -8px;
}

.header .logo h3{
  display: block;
  flex-basis: 40px;
  margin-left: 10px;
  font-weight: lighter;
  font-weight: 100px;
  text-transform: uppercase;
}

.header .nav{
  flex-grow: 1;
}

.header nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  height: 132px;
}

.header li {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin-left: 15px;
  margin-right: 15px;
}

.header li a{
  color: black;
  text-decoration: none;
}

.header .active,
.header a:hover{
  color: rgb(51, 51, 184);
}

.contenido-principal{
  min-height: 350px;
}

.footer{
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  margin-top: 35px;
  border-top: 3px solid black;
  padding-top: 45px;
  background: #f5f5f5;
  min-height: 40px;
  color : #444;
  margin-top: 80px;
}

.home h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 0px;
  margin-top: 70px;
}

.home strong{
  color: rgb(51, 51, 184);
}

.home h2{
  color: rgb(102, 97, 97);
  font-weight: lighter;
}

.home  a{
  padding: 7px;
  border-radius: 5px;
  color: white;
  background-color: rgb(51, 51, 184);
  text-decoration: none;
  transition: all 300ms;
}



.home a:hover,
input[type="submit"]:hover,
button:hover{
  color: white;
  background-color: rgb(76, 76, 206) ;
}


.page .heading,
.home .heading{
  font-size: 25px;
  font-style: italic;
  font-weight: 500;
  color: black;
  margin-bottom: 0px;
}

.page .heading{
  font-size: 55px;
  font-weight: bold;
}

.home p{
  color: rgb(98, 97, 97);
}

input[type="text"],
textarea{
  padding: 15px;
  display: block;
  width: 250px;
  margin-top: 25px;
}



input[type="submit"],
button{
  font-size: 15px;
  margin-top: 15px;
  padding: 15px;
  border: 0px;
  border-radius: 5px;
  color: #f5f5f5;
  background-color: rgb(51, 51, 184); 
  text-decoration: none;
  cursor: pointer;
  transition: all 300ms;
}

.home a:hover,
input[type="submit"],
button{
  text-decoration: none;
  background-color: rgb(76, 76, 206) ;
  
}

.works{
  display: flex;
  flex-wrap: wrap;
}

.work-item{
  flex-basis: 30%;
  flex-grow: 1;
  margin: 30px;
}

.work-item .mask{
  width: 100%;
  height: 350px;
  overflow: hidden;
  border: 1px solid #ccc;
  box-shadow: 0px 5px 15px gray;
}

.work-item img{
  width: 100%;
  transition: all 600ms;
}

.work-item .mask:hover img{
  width: 150%;
  margin-right: 30%;
  
}

.work-item span{
  display: block;
  color: gray;
  margin-top: 35px;
}

.work-item h2{
  display: block;
  color: black;
  margin-top: 5px;
  font-size: 30px;
  margin-bottom: 5px;
}

.work-item a{
  transition: all 300ms;
}

.work-item a:hover{
  color: rgb(51, 51, 184) ;
  text-decoration: none;
}

.work-item h3{
  display: block;
  color: gray;
  padding: 5px;
  padding-top: 15px;
  margin-top: 0px;
  border-top: 1px solid #ddd;
}

.page-work .mask{
  height: 300px;
  overflow: hidden;
  box-shadow: 0px 0px 20px #ccc;
}

.contactos{
  display: flex;
  flex-wrap: wrap;
}

.contacto-item{
  flex-grow: 1;
  margin: 30px;
}

.contacto-item h3{
  font-size: 25px;
  font-style: italic;
  font-weight: 400;
  color: black;
  margin-bottom: 0px;
}

.contacto-item h3{
  font-size: 25px;
  font-style: italic;
  font-weight: 400;
  color: black;
  margin-bottom: 0px;
}

.contacto-item a{
  display: block;
  color: rgb(51, 51, 184);
  margin-top: 20px;
  font-size: 35px;
  margin-bottom: 5px;
  font-weight: 600;
}

.contacto-item a:hover{
  color: rgb(92, 92, 229);
}